:host ::ng-deep{
    .accordion-button::after{
      margin: 0;
      margin-left: 1rem;
    }
    .accordion-button{
      justify-content: space-between;
    }
    .table-header > p {
      margin-top: 1rem;
    }
    .table-header{
      margin-left: 1.3rem; margin-right: 7%; display: flex; justify-content: space-between;
    }
    .form-inline{
      display: flex;
      margin-bottom: 2rem;
    }
    .update.btn{
      width: 50%;
    }
    .add-cart.btn{
      width:50%;
    }
    .product-detail{
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      align-items: center;
    }
    .item2{
      margin: 2rem 2rem;
      min-width: 100px;
    }
    .item3{
      margin: 2rem 2rem;
    }
    
    @media (max-width: 1120px) {
      .product-detail {
        grid-template-columns: 1fr 1fr 2fr; 
      }
      .item2{
        margin: 1rem 1rem;
      }
      .item3{
        margin: 1rem 1rem;
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 4;
      }
      @media (max-width: 500px) {
      .product-detail {
        grid-template-columns: 1fr; 
        grid-template-rows: 3fr 2fr 2fr; 
      }
      .item2{
        margin: 1rem 1rem;
        grid-row: 2;
      }
      .item3{
        margin: 0rem 1rem;
        grid-row: 3;
      }
    }
    }
  } 