.cart{
    display: flex; 
    margin: auto; 
    margin-right: 0;
}

.item{
    display: flex; 
    margin: auto; 
    margin: 1rem 1rem ;
}

p{
    margin-top: 1rem;
    margin-right: 1rem;
}

.form-check{
    width: fit-content;
    margin: 1rem 1rem;
}

