:host ::ng-deep{
  .card-container{
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 1rem;
  }
  .item{
      min-width: 300px;
  }
  .btn{
    color: #2c2c57;
    padding: 0.375rem 0.75rem;
    border-color: #2c2c57;
  }
  .btn:hover{
    background-color: #55558b;
  }
} 